body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #222;
  color: #aaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: lightgreen;
  font-size: 1.25rem;
  border-style: none;
  padding: 6px 10px;
}

button:hover {
  background-color: green;
  color: #999;
}
